/* Testing / Applying to all the elemnts on the page */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #00ff00 #25292c;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* General Purpose CSS for glowing text */
.glowing-text {
  color: #00ff00;
  transition: color 0.3s ease;
  text-shadow: 0 0 8px #00ff00, 0 0 16px #00ff00;
}

.btn {
  color: #fff;
  z-index: 5;
}

.btn:hover {
  color: #00ff00;
  transition: color 0.3s ease;
  text-shadow: 0 0 8px #00ff00, 0 0 16px #00ff00;
}

.bg-custom {
  background-color: #1a181b;
}

/* Header */
/*./Assets/HeaderImg.jpg*/
.header-image {
  position: relative;
  background: url("./Assets/HeaderImg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.description {
  position: relative;
  z-index: 2;
}

.description-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  z-index: 3;
}

.description {
  color: #fff; /* Text color */
}

.description h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.description p {
  font-size: 1.5em;
  margin: 10px 0;
}
.typed-text {
  border-right: 2px solid #00ff00;
  white-space: nowrap;
  overflow: hidden;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-image .navbar {
  position: relative;
  z-index: 2;
}
/* Navbar styling for glowing text */
.navbar-nav .nav-item {
  margin-left: 20px;
}
.passed-first-point {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
}
.passed-first-point:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.navbar-nav .nav-link {
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #00ff00;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #00ff00;
  box-shadow: 0 0 8px #00ff00, 0 0 16px #00ff00;
}

/* Skills Section */

.skills {
  background-color: #1a181b;
  color: white;
}

.skills-container {
  padding: 3rem;
}

.skill-bx {
  background-color: #25292c;
  text-align: center;
  border-radius: 20px;
  padding: 5rem;
}

.skill-bx h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.item img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.item p {
  width: 70%;
  display: block;
  margin: 0 auto;
}

/* Projects showecase */
/* .projects {
  background-color: #1a181b;
}
.projects h2 {
  font-size: 3rem;
}

.project-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 15px;
  transition: transform 0.3s ease;
  height: 300px;
  padding: 10px;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card:hover {
  transform: scale(1.05);
}

.card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00ff00;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .card-body {
  opacity: 1;
}

.github-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: transform 0.3s ease;
}

.github-icon {
  width: 32px;
  height: 32px;
  stroke: #000;
  transition: stroke 0.3s ease;
}

.github-link:hover .github-icon {
  stroke: #00ff00;
}
.card-text {
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  width: 70%;
}
.project-card:hover .card-img-top {
  filter: blur(5px);
}

.project-card .card-title {
  margin-bottom: 0;
} */
.projects {
  background-color: #1a181b;
  padding: 50px;
}
.projects h2 {
  font-size: 3rem;
}
.project-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 300px;
}

.img-container {
  position: relative;
  height: 100%;
}

.img-container img {
  transition: filter 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container:hover img {
  filter: blur(5px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay .text {
  color: white;
  text-align: center;
}

.github-icon {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.github-icon:hover {
  color: #00ff00;
}

/* Contact form styling */
.contact-section {
  background-color: #1a181b;
  padding: 50px 0;
}

.contact-form-container {
  background-color: #25292c;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.contact-form textarea {
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: #00ff00 #25292c;
}
.contact-form h2 {
  color: #00ff00;
  margin-bottom: 20px;
}

.contact-form .form-label {
  color: #ffffff;
}

.contact-form .form-control {
  background-color: #333;
  border: none;
  color: #ffffff;
}

.contact-form .btn-primary {
  background-color: #00ff00;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  color: #000;
  border: none;
}

.contact-form .btn-primary:hover {
  opacity: 1;
  box-shadow: 0px 0px 8px #00cc00;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Contact me section */

/* .neon-divider {
  width: 70%;
  margin: 50px auto;
  height: 7px;
  background: linear-gradient(to right, #25292c 10%, #00ff00 50%, #25292c 90%);
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  position: relative;
  overflow: hidden;
}

.neon-divider::before,
.neon-divider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: #25292c;
}

.neon-divider::before {
  left: -5%;
}

.neon-divider::after {
  right: -5%;
} */

.custom-card {
  position: relative;
  height: 200px;
  width: 100%;
  max-width: 400px;
  margin: 2rem;
  box-shadow: none;
  background: none;
}

.custom-card-side {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
  text-shadow: 0 0 8px #fff, 0 0 64px #fff;
}

.custom-card-side.back {
  transform: rotateY(-180deg);
  background-color: #8a2387;
  background-image: linear-gradient(
    45deg,
    #8a2387 0%,
    #e94057 50%,
    #f27121 100%
  );
}

.custom-card-side.front {
  background-color: #de6c9e;
  background-image: linear-gradient(160deg, #de6c9e 0%, #f9a875 100%);
}

.custom-card.revealed .custom-card-side.front {
  transform: rotateY(180deg);
}

.custom-card.revealed .custom-card-side.back {
  transform: rotateY(0deg);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons svg {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  fill: #ffffff;
  transition: fill 0.3s ease;
}

.instagram:hover {
  fill: #8a2387;
}
.linkedin:hover {
  fill: #8a2387;
}
.github:hover {
  fill: #00cc00;
}

/* Exp Section */
.exp-container {
  width: 100%;
  padding: 35px 10%;
  background-color: #1a181b;
}
.exp-container {
  padding-right: calc(10% - 30px);
}

.exp-container p {
  color: rgb(0, 0, 0);
}

.exp-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.exp-col .title {
  font-family: helvetica;
  color: #00ff00;
  padding: 0px 0px 20px 30px;
}

.exp-col .contents {
  padding: 0px 30px;
  border-left: 2px solid #bababa;
}
.exp-col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #00cc00;
  background-color: #c3edc3;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.exp-col .contents .box:hover {
  box-shadow: 0px 0px 12px 0px #00ff00;
  border: 1px solid transparent;
}
.exp-col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #00ff00;
  border: 2px solid white;
}
.exp-box h4 {
  position: relative;
  color: #11a372;
}
.exp-box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: helvetica;
  color: #444;
}
.exp-box p {
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}

/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-copyright {
  margin-top: 10px;
}
